html,
body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #00000050;
	font-family: 'Questrial', sans-serif;
	font-size: 12pt;
	color: rgba(0, 0, 0, 0.6);
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	color: #404040;
}

h4 {
	margin: 0;
	padding: 0;
	font-size: 30pt;
	color: #ffffff;
}

h5 {
	margin: 0;
	padding: 0;
	font-size: 30pt;
	color: #000000;
}

li {
	overflow: hidden;
}

p,
ol,
ul {
	margin-top: 0;
	padding: 0;
}

p {
	line-height: 180%;
}

.con {
	margin: 0px auto;
	width: 1200px;
}


ul.contact {
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;
}

ul.contact li {
	display: inline-block;
	padding: 0em 0.10em;
	font-size: 1em;
}

ul.contact span {
	display: none;
	margin: 0;
	padding: 0;
}

ul.contact li a {
	color: #FFF;
}

ul.contact li a:before {
	display: inline-block;
	background: #00000000;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: rgba(255, 255, 255, 1);
}

.title {
	margin-bottom: 3em;
	text-align: center;
}

.title h2 {
	font-size: 2.8em;
}


#header {
	text-align: center;
}

#tt {
	padding: 8em 0em 4em 0em;
}

#tt h1 {
	display: block;
	margin-bottom: 0.20em;
	padding: 0.20em 0.9em;
	font-size: 3.5em;
}

#tt a {
	text-decoration: none;
	color: #FFF;
}

#tt span {
	text-transform: uppercase;
	font-size: 2.90em;
	color: rgba(255, 255, 255, 1);
}

#tt span a {
	color: rgba(255, 255, 255, 0.8);
}

#menu {
	height: 60px;
}

#menu li {
	display: inline-block;
}

#menu li a,
#menu li span {
	display: inline-block;
	padding: 0px 3em;
	text-decoration: none;
	font-size: 0.90em;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
	outline: 0;
	color: #FFF;
}

#menu li:hover a,
#menu li.active a,
#menu li.active span {
	background: rgb(0, 63, 60);

	color: #f8f8f8;
}

.wrapper {
	overflow: hidden;
	padding: 0em 0em 5em 0em;
	background: #FFF;
}

#wel {
	overflow: hidden;
	width: 1000px;
	padding: 6em 100px 0em 100px;
	text-align: center;
}

#wel .content {
	padding: 0em 8em;
}

#page-wrapper {
	overflow: hidden;
	background: #2F1E28;
	padding: 3em 0em 6em 0em;
	text-align: center;
}

#content {
	float: left;
	width: 700px;
	padding-right: 100px;
	border-right: 1px solid rgba(0, 0, 0, .1);
}

#cr {
	overflow: hidden;
	padding: 5em 0em;
	border-top: 20px;
	text-align: center;
}

#cx3 {
	overflow: hidden;
	margin-top: 5em;
	padding-top: 1em;
	border-top: 1px solid rgba(0, 0, 0, 0.219);
	text-align: center;
}

#cx3 h2 {
	margin: 1em 0em;
	font-size: 1.5em;
	font-weight: 700;
}

#cx3 #tbox1,
#cx3 #tbox2,
#cx3 #tbox3 {
	float: left;
	width: 320px;
	padding: 80px 40px 80px 40px;
}

#cx3 .title {
	text-align: center;
}

#footer {
	overflow: hidden;
	padding: 5em 0em;
	background: #e6f6ff;
	text-align: center;
}

#footer .fbox1,
#footer .fbox2,
#footer .fbox3,
#footer .fbox4,
#footer .fbox5,
#footer .fbox6 {

	float: left;
	width: 320px;
	padding: 0px 40px 0px 40px;
}

.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
	padding: 20px;
	padding-right: 60px;
	padding-left: 60px;
	text-align: center;
}

table {
	margin: 0 0 10px 0;
	width: 100%;
	text-align: center;
}

table tr {
	border: solid 1px;
	border-left: 0;
	border-right: 0;
}

table td {
	padding: 10px 10px;
}

fieldset {
	font-size: 30;
	text-align: center;
}